<div >
    <!-- <a class="nav-link dropdown-toggle top-right" data-toggle="modal" data-target="#myModal"> -->
      <!-- <img src="assets\search.svg" routerLink="/search" alt="button" style="height: 31px; "/> -->
     
    <!-- </a> -->
    <!-- <div> -->
        <!-- <span style="top: 20%;position: relative;">Welcome to</span>
             <span style="top: 20%;position: relative;font-weight: bold;font-size: xx-large;"  class="" > Elog</span>  ,  -->
             <div class="grid starry-night">
                <div class="col-12 md:col-4" style="vertical-align: middle !important">
                    <div class=" font-bold text-2xl"  >
                        <!-- <div class="stars"></div> -->
                            <img src="./assets/elogicon.png" class="circular-image" alt="Image" height="50" ><span style="color: antiquewhite;">E-log</span>
                    </div>  
                                  
                    
                </div>
                <div class="col-12 md:col-4">
                    <!-- <div class="stars"></div> -->
                    
                </div>
                <div class="col-12 md:col-4">
                    <!-- <div class="stars"></div> -->
                    <span class = "top-right" style="color: antiquewhite;"><i class="pi pi-user"></i> {{emp_name}}</span>
                </div>
            </div>
    
    <!-- <div class="text-700 mb-6">Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna.</div> -->
         
        
        <!-- <span class="link_name"></span> -->
    <!-- </i> -->
    <!-- </div> -->
  </div>
